# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.cppm text
*.hpp text
*.txt text
*.svg text
*.asm text
*.S text
*.cfg.in text

# Visual Studio specific files
*.sln text eol=crlf
*.manifest.in binary
*.rc text working-tree-encoding=UTF-16LE-BOM eol=crlf
*.rc.in text working-tree-encoding=UTF-16LE-BOM eol=crlf
resouce/resouce.h  text text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.ico binary
